<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.hkw1831</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>18FE08A1-326E-4CB6-B1CE-57FBD6DF7EDF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F95B947A-782B-4023-9A14-F9B7F7B35DD6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F95B947A-782B-4023-9A14-F9B7F7B35DD6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>06923452-D248-4D7B-837D-C933AAD11AC0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>hkw1831</string>
	<key>description</key>
	<string>Add task to TickTick, and will receive notification when finished.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Add to TickTick with notification</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>./add_to_ticktick "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F95B947A-782B-4023-9A14-F9B7F7B35DD6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>06923452-D248-4D7B-837D-C933AAD11AC0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>tt</string>
				<key>subtext</key>
				<string>enter task</string>
				<key>text</key>
				<string>TickTick</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>18FE08A1-326E-4CB6-B1CE-57FBD6DF7EDF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>06923452-D248-4D7B-837D-C933AAD11AC0</key>
		<dict>
			<key>xpos</key>
			<integer>600</integer>
			<key>ypos</key>
			<integer>95</integer>
		</dict>
		<key>18FE08A1-326E-4CB6-B1CE-57FBD6DF7EDF</key>
		<dict>
			<key>xpos</key>
			<integer>95</integer>
			<key>ypos</key>
			<integer>95</integer>
		</dict>
		<key>F95B947A-782B-4023-9A14-F9B7F7B35DD6</key>
		<dict>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>PASSWORD</key>
		<string>Neiteio1219</string>
		<key>USERNAME</key>
		<string>roulette74@gmail.com</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>PASSWORD</string>
		<string>USERNAME</string>
	</array>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://hkw1831.github.io</string>
</dict>
</plist>
